body{
  background: #f8f8f8;
}
.login-form{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.04);
    min-height: 520px;
    border: 2px solid #1dbf73;
    border-radius: 30px;
}
.login-form input[type = "email"],.login-form input[type = "password"]{
    display: block !important;
    margin:20px auto;
    position: relative;
    top: 30px;
    background: transparent;
    border: 2px solid #1dbf73;
    height: 50px;
    color: #000000;
}
.login-form input::placeholder{
    color: #000000 !important;
}
.login-form{
    color: #000000;
    box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.75);
}
.btn-login{
    width: 200px;
    height: 50px;
   position: relative;
   top: 40px;
   background: transparent;
   font-weight: bold;
   border: 2px solid #1dbf73;;
}
.facebook{
    height: 40px;
    background: #4267B2;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 10%;
    margin-top: 20px;
    border-radius: 5px;
}
.gmail{
    background: #ffffff;
    color: #000000;
    height: 40px;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 15%;
    margin-top: 20px;
    border-radius: 5px;
}
.gmail label{
    position: relative;
    left: 9px;
    top: 2px;
}
.btn-login:hover{
   transition: 0.5s;
  color: #ffffff;
    background: #1dbf73
}
.form-img{
   position: relative;
   right: 10%;
   top: 50px;
}
.form-img .men{
    float: right;
}
.Remember-forget{
    position: relative;
    top: 50px;
   float: left;
   
}
.Remember-forget-a{
   float: right;
   position: relative;
   top: 50px;
   color: #000000;
}
.Remember-forget-a:hover{
    color: #1dbf73;
}
.login-form .hr-line{
   height: 9px;
  border-bottom: 1px solid #000000;
   position: relative;
   text-align: center;
   background: transparent;
   font-size: 15px;
   font-weight: bold;
   top: 15px;
   
}
.login-form .hr-line span{
    background: #F8F8F8;
    padding:0 10px;
}